body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

#imageInput {
    display: block;
    margin: 10px auto;
}

#imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 200px;
    height: auto;
    margin: 10px;
}
